/* ---------- RESET ---------- */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --golden: #ffb91c;
  --black: #000000;
  --white: #ffffff;
  --gray: #95a5a6;
  --lg-gray: #f5f6fa;
  --dk-gray: #2f3640;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* ---------- GLOBAL | ALPHABETIC ORDER ---------- */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

a:hover,
a:focus {
  opacity: 0.5;
}

hr {
  border-top: 1px solid var(--lg-gray);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--gray);
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--golden);
  color: var(--black);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.5;
}

li {
  padding-right: 15px;
  display: inline;
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

/* ---------- HEADER ---------- */

/* ---------- NAV ---------- */

/* ---------- MAIN ---------- */

/* ---------- ASIDE ---------- */

/* ---------- FOOTER ---------- */

/* ---------- MEDIA QUERIES ---------- */
@media (max-width: 800px) {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 12px 18px;
  }
}
